
<div class="nav">
	<div id="parent">
		<div id="wide" class="container">

			<ul class="vertical-center">
			  <li><%= link_to "Calculator", calculator_index_path %></li>
			  <li><%= link_to "Expenses", expenses_index_path %></li>
				<li><%= link_to "Account", account_index_path %></li>
			</ul>

	  	</div>

		<div id="narrow">
			<div class="center-profile-image">

			</div>
		</div>
	</div>

</div>
