.header {
	margin:10px;
	border:1px solid black;
	padding:10px;
	text-align: center;
	font-size: 26px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

/* This is the general design for the nav bar*/

	.nav li {
		display:inline;
	}

	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
	}

	li {
		width:33.3%;
	  float: left;
	}

	li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}

	li a:hover:not(.active) {
	  background-color: #111;
	}

	.active {
	  background-color: #4CAF50;
	}

/* This is the general design for the nav bar */

/* This controls the nav bar items span to the nav bar width */

	.container {
	  position: relative;
	}

	.vertical-center {
	  margin: 0;
	  position: relative;
	  top: 50%;
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	}

/* This controls the nav bar items span to the nav bar width */

/* This is for the navigation menu side to side divs */
	#parent {
	  display: flex;
	}
	#narrow {
	  width: 200px;
	}
	#wide {
		margin:10px;
	  flex: 1;
	}
	.center-profile-image {
		display:block;
		margin:0 auto;
		text-align:center;
		height:100px;
		width:100px;
		border-radius:100px;
	  text-align: center;
		border:1px solid black;
	}
/* This is for the navigation menu side to side divs */

/* This controls the footer, it's using flex boxes to stick to the bottom of content */

	.footer {
		margin:10px;
		border:1px solid black;
		padding:10px;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
	}

	html, body {
	  height: 100%;
	}
	body {
	  display: flex;
	  flex-direction: column;
	}
	.content {
		margin:10px;
	  flex: 1 0 auto;
	}
	.footer {
	  flex-shrink: 0;
	}

	.footer p {
		text-align: center;
	}

/* This controls the footer, it's using flex boxes to stick to the bottom of content */
